
.border{
    border: 1px solid black;
}
.parent{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    
}
.child{
    height: 100px;
    width: 150px;
}
.bg-succes{
    background-color: green;
}
.bg-warning{
    background-color: yellow;
}
.bg-danger{
    background-color: red;
}
.bg-info{
    background-color: aqua;
}
.bg-purple{
    background-color: purple;
}